@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

header{
	display: flex;
	position: relative;
}
body{
	font-family: "Raleway", sans-serif ;
	margin: 0px;
	
}

img{
	object-fit: cover;
}


.nav-bar-sub{
	flex-direction: row-reverse;
}

.nav-bar{
	display: flex;
	align-items: center;
	
}

.logo-header{
	padding : 20px;
	margin-right: 65%;

}

.nav-link-h{
	color: #0065FC;
	padding: 20px 40px;
	text-align: center;
	border-top: 3px solid #0065FC;
	text-decoration: none;

}

.nav-link{
 	padding: 20px 40px;
	color: black;
	text-decoration: none;
	border-top: 3px solid transparent;

}

.sub-link{
	display: flex;
	align-items: center;
	padding-left: 40px;
	color:#0065FC;
	text-decoration: none;
	border-top: 3px solid white;
	position: absolute;
	top: 21px;
	right: 2%;
}

section search-section{
	margin: 15px;
} 

.title-content{
	margin: 25px;
	
}

.p-title{
	font-size: 1.5em;
	font-family: "Raleway", sans-serif;	
	margin-bottom: 10px;
}

.sub-title{
	font-size: 0.8em;
		
	
}

.search-content{
	
	display: inline-flex;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
	height: 50px;
}

.position-icon{
	background-color: #F2F2F2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 9px 0 0 9px;


	
}

.search-bar{
	padding-left: 10px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	border: none;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
}

#search-button{
	background-color: #0065FC;
	font-family: "Raleway";
	border-radius: 0 9px 9px 0;
	border: none;	
	font-weight: bold;
	color: white;
	width: 100px;
}
.search-icon{
	display: none;
}

.filters-content{
	width: 1100px;
}

.filters-title{
	display: inline;
	margin-left: 25px;
}

.filters{
	display: inline-flex;
	width: 900px;
}

.list-filters{
	margin: 20px;
	list-style-type: none;
	padding-right: 20px;
	border: 1px solid #DEEBFF;
	border-radius: 30px;
	
}

.list-filters-f{
	margin: 20px;
	list-style-type: none;
	padding-right: 20px;
	border: 1px solid #DEEBFF;
	border-radius: 30px;
}

.list-filters-aa{
	margin: 20px;
	list-style-type: none;
	padding-right: 20px;
	border: 1px solid #DEEBFF;
	border-radius: 30px;
}

.log-filters{
	background-color:#DEEBFF;
	color: #0065fc;
	padding: 20px;
	margin-right: 10px;
	border-radius: 50px;
}

.info-content{
	margin-left: 20px;
	display: flex;
	align-items: center;

}

.info{
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 50px;
	color: #0065FC;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;

}

.main-block{
	display: flex;
	flex-direction: row-reverse;

}

.most-popular{
	width: 500px;
	height: 650px;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin: 20px;
	padding: 30px;
}

.most-pop-header{
	display: flex;
	height: 85px;
	width: 100%;
}

.most-pop-title{
	font-size: 16.9px;
	margin: 20px;
}

.most-pop-icon{
	margin-left: 150px;
	margin-top: 45px;
}

.most-pop-content{
	display: flex;
	border-radius: 20px;
	border: solid 3px white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2), 0 6px 6px 0 rgba(129, 128, 128, 0.2);
	margin: 15px 40px 25px 40px;
	width: 72%;
}

.most-pop-img{
	width: 150px;
	border-radius: 20px 0 0 20px;
	height: 130px;
}

.most-pop-txt{
	background-color: white;
	border-radius: 0 20px 20px 0;
	padding-left: 15px;
	width: 200px;
}

.most-pop-txt h3{
	margin-top: 5px;
}

.notation{
	color: #0065fc;

}

section p{
	color: rgb(133, 127, 127);

}

.hosting-block{
	background-color: #F2F2F2;
	margin: 20px;
	width: 1030px;
	height: 650px;
	border-radius: 20px;
	padding: 30px;
}

.hosting-header{
	font-size: 18.9px;
	display: flex;
	height: 85px;

}

.hosting-title{
	font-size: 0.9em;
	margin: 20px;
}


.hosting-content{
	display: inline-grid;
	margin: 20px;
	width: 270px;
	height: 180px;
	background-color: white;
	border-radius: 20px;
	border: solid 3px white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2), 0 4px 4px 0 rgba(129, 128, 128, 0.2);
}


.hosting-img{
	width: 270px;
	border-radius: 20px 20px 0 0;
	height: 104px;
}


.hosting-text{
	color: black;
	width: 200px;
	height: 80px;
	border-radius: 0 0 20px 20px;
	margin: 5px;

}

.hosting-text h3{
	margin: 10px 10px 5px 5px;
	font-size: 0.9em;
}
.hosting-text p{
	margin: 5px 10px 5px 5px;
	font-size: 0.8em;
}

.host-notation{
	margin: 5px 10px 5px 5px;
	color: #0065fc;
	
}

.load-more{
	margin: 60px 20px 5px 40px;
}

.activity{
	margin: 20px 15px 5px 5px;
}

.grid{
	display: flex;
}

.activity-header{
	width: 400px;
}
.activity-title{
	font-size: 1.3em;
	margin: 5px 5px 10px 25px;
}
/* port*/

.activity-content{
	width: 400px;
	height: 420px;
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2);
}

.activity-img{
	width: 400px;
	height: 370px;
	border-radius: 20px 20px 0 0;
}

.activity-txt{
	font-size: 0.7em;
	margin: 5px 5px 5px 15px;

}

/*fort*/

.activity-content-fort{
	width: 380px;
	height: 248px;
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2);
}

.activity-img-fort{
	width: 380px;
	height: 198px;
	border-radius: 20px 20px 0 0;
}

.activity-txt-fort{
	font-size: 0.7em;
	margin: 3px 3px 5px 15px;
	
}

/* frioul*/

.activity-content-frioul{
	width: 380px;
	height: 156px;
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2);
}

.activity-img-frioul{
	width: 380px;
	height: 107px;
	border-radius: 20px 20px 0 0;
}

.activity-txt-frioul{
	font-size: 0.7em;
	margin: 3px 3px 5px 15px;
}

/* calanques*/

.activity-content-cal{
	width: 400px;
	height: 420px;
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2);
}

.activity-img-cal{
	width: 400px;
	height: 370px;
	border-radius: 20px 20px 0 0;
}

.activity-txt-cal{
	font-size: 0.7em;
	margin: 3px 3px 5px 15px;
	
}

/* notre dame*/

.activity-content-nd{
	width: 380px;
	height: 197px;
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2);
}

.activity-img-nd{
	width: 380px;
	height: 146px;
	border-radius: 20px 20px 0 0;
}

.activity-txt-nd{
	font-size: 0.7em;
	margin: 3px 3px 5px 15px;
}

/* parc*/

.activity-content-pl{
	width: 380px;
	height: 207px;
	background-color: white;
	margin: 10px;
	border-radius: 20px;
	border: 3px solid white;
	box-shadow: 0 4px 4px 0 rgba(129, 128, 128, 0.2);
}

.activity-img-pl{
	width: 380px;
	height: 157px;
	border-radius: 20px 20px 0 0;
}

.activity-txt-pl{
	font-size: 0.7em;
	margin: 3px 3px 5px 15px;
	
}

/* footer */


.footer-content{
	background-color: #F2F2F2;
	display: flex;
}

.service{
	width: 332px;
	margin: 30px 30px 30px 5px;
}

.service h3{
	font-size: 1.3em;
	margin-left: 35px;
}

.service ul{
	list-style-type: none;
}
footer{
	width: 1740px;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
	.header{
		display: flex;
		flex-direction: column;
		position: relative;
	}
	.logo-header{
		margin: 20px;
		padding: 0;
		width: 30%;
	}
	
	.nav-bar-sub{
		display: inline;
	}
	.nav-bar{
		width: 100%;
	}
	.nav-link-h{
		border-top: none;
		border-bottom: 5px solid #0065FC;
		padding: 25px;
		width: 50%;
	}
	.nav-link{
		border-bottom: 5px solid rgb(182, 178, 178);
		width: 50%;
		padding: 25px;
		border-top: none;
	}
	.p-title{
		font-size: 109%;
	}

	.sub-link{
		justify-content: flex-end;
		align-items: center;
		font-size: 16px;
		position: absolute;
		top: 20%;
		right: 9%;
	}
	.search-content{
		margin: 15px;
	}
	#search-button{
		display: none;

	}
	.search-icon{
		background-color: #0065fc;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		border-radius: 0 9px 9px 0;
	}


	.filters{
		display: flex;
		flex-wrap: wrap;
		width: 30%;
		padding: 5px;
	}
	.list-filters{
		width: 136px;
		margin: 0 0 15px 10px;
		font-size: 12px;
		height: 51px;

	}
	.list-filters-f{
		width: 103px;
		margin: 0 0 15px 10px;
		font-size: 12px;
	}
	.list-filters-aa{
		width: 167px;
		margin: 0 0 15px 10px;
		font-size: 12px;
	}
	.main-block{
		flex-direction: column;
	}
	.most-popular{
		margin: 0%;
		padding: 0%;
		width: 100%;
		border-radius: 0%;
	}

	.most-pop-title{
		font-size: 13px;
		margin: 15px 10px;
	}
	.most-pop-content{
		margin: 20px 10px 10px 10px;
		width: 90%;
		height: 23%;
	}
	.most-pop-img{
		width: 46%;
		height: 100%;
	}
	.most-pop-icon{
		margin-left: 23%;
		margin-top: 10%;
		font-size: 19px;
	}
	.most-pop-txt{
		width: 50%;
		font-size: 80%;
	}
	.notation{
		margin-top: 33%;
	}
	.hosting-block{
		margin: 0%;
		padding: 0%;
		background-color: white;
		height: auto;
		}
	.hosting-content{
		display: flex;
		flex-direction: column;
		margin: 20px 10px 0 10px;
		width: 28%;
	}
	.hosting-title{
		font-size: 14px;
		margin: 0 15px;
	}
	.hosting-img{
		width: auto;
	}
	
	.load-more{
		margin: 15px 0 0 15px;
		font-size: 15px;
	}
	.grid{
		flex-direction: column;
	}
	.activity-header{
		height: 48px;
	}

	.activity{
		height: auto;
	}

	.activity-title{
		font-size: 14px;
		margin: 0;
		padding: 7px;
	}
	.activity-content{
		width: 98%;
		height: 20%;
		margin: 20px 5px;

	}
	.activity-img{
		width: 100%;
		height: 80px;
		border-radius: 20px 20px 0 0;
	}

	.activity-content-fort{
		width: 98%;
		height: 20%;
		margin: 20px 5px;
	}
	.activity-img-fort{
		width: 100%;
		height: 80px;
		border-radius: 20px 20px 0 0;
	}

	.activity-content-frioul{
		width: 98%;
		height: 20%;
		margin: 20px 5px;
	}
	.activity-img-frioul{
		width: 100%;
		height: 80px;
		border-radius: 20px 20px 0 0;
	}

	.activity-content-cal{
		width: 98%;
		height: 20%;
		margin: 20px 5px;

	}
	.activity-img-cal{
		width: 100%;
		height: 80px;
		border-radius: 20px 20px 0 0;
	}
	.activity-content-nd{
		width: 98%;
		height: 20%;
		margin: 20px 5px;

	}
	.activity-img-nd{
		width: 100%;
		height: 80px;
		border-radius: 20px 20px 0 0;
	}
	.activity-content-pl{
		width: 98%;
		height: 20%;
		margin: 20px 5px;

	}
	.activity-img-pl{
		width: 100%;
		height: 80px;
		border-radius: 20px 20px 0 0;
	}
	.footer-content{
		flex-direction: column;
	}
	
	}

	@media screen and (min-width: 621px) and (max-width: 800px){

}

@media screen and (min-width: 801) and (max-width: 1200px) {

	.main-block{
		flex-direction: column;
		height: 2140px;
		width: 485px;
		margin: 15px;
	}
	.most-popular{
		margin: 0px;
		width: 1239px;
	}
	.most-pop-header{
		width: 1140px;
	}
	.hosting-block{
		width: 450px;
		margin: 15px 0 0 0;
		height: 1670px;
		background-color: white;
	}
	.hosting-content{
		margin: 15px 30px 15px 0;
		width: 460px;
		height: 215px;

	}

	.hosting-img{
		width: 460px;
		height: 130px;
	}
	.load-more{
		margin: 30px 20px 5px 40px;
	}
	.activity{
		height: 1710px;
		margin: 150px 25px 20px 20px;

	}

	.grid{
		flex-direction: column;
		height: 1608px;
		width: 450px;
	}
	.footer-content{
		flex-direction: column;
	}



}