
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');



body
{
	font-family: "Raleway", sans-serif ;
   
   
}

header

{
 	display: flex;
	width: 99%;
	margin: auto;
}

.nav-bar

{
	height: 30px;
	display: table;
	margin-top: 30px;
}

#logo
{
 	width: 100px;
}
.link-h
{
 	margin-left: 650px;
	font-size: 20px;
	color: #0065FC;
	text-decoration: none;
}
.link-a
{
 	margin-left: 50px;
	font-size: 20px;
	text-decoration: none;
}

.link-s
{
 	margin-left: 50px;
	font-size: 20px;
	color:#0065FC;
	text-decoration: none;
}

.title-content
{
	margin: auto;
	width: auto;	
}

.p-title

{
	font-size: 1.9em;
	font-family: "Raleway bold", sans-serif;	
}