
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');


body
{
	font-family: "Raleway", sans-serif ;
	margin: 0;
	display: block;
	

}

header

{
 	display: flex;
	height: 60px;


}

.nav-bar

{
	display: flex;
	align-items: center;
	
}

.logo-header
{
	padding-right: 910px;
	padding-left: 20px;
	padding-top: 20px;


}
.nav-link-h
{
	color: #0065FC;
	padding: 20px;
	text-align: center;
	border-top: 3px solid #0065FC;
	text-decoration: none;

}

.nav-link
{
 	padding: 50px;
	color: black;
	text-decoration: none;
	border-top: 3px solid;
}

.sub-link
{
	display: flex;
	padding-left: 30px;
	align-items: center;
	color:#0065FC;
	text-decoration: none;
	border-top: 3px solid white;
	
}



.title-content
{
	margin: 25px;
	
}

.p-title

{
	font-size: 1.3em;
	font-family: "Raleway", sans-serif;	
	margin-bottom: 10px;
}

.sub-title

{
	font-size: 0.8em;
		
	
}

.search-content

{
	
	display: inline-flex;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 20px;
	height: 50px;
}

.position-icon

{
	background-color: #F2F2F2;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border-radius: 9px 0 0 9px;


	
}

.search-bar

{
	padding-left: 10px;
	font-family: "Raleway", sans-serif;
	font-weight: bold;
	border: none;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
}

#search-button

{
	background-color: #0065FC;
	font-family: "Raleway";
	border-radius: 0 9px 9px 0;
	border: none;	
	font-weight: bold;
	color: white;
	width: 100px;
}

section

{
	max-width: 1440px;

	
}

.filters-content

{
	display: block;

	
}

.filters-title

{
	display: inline;
	margin-left: 25px;

}

.filters
{
	display: inline-flex;

}


.list-filters

{
	margin: 20px;
	list-style-type: none;
	padding-right: 20px;
	border: 1px solid #DEEBFF;
	border-radius: 30px;
	
}

.log-filters
{
	background-color:#DEEBFF;
	color: #0065fc;
	padding: 20px;
	margin-right: 10px;
	border-radius: 50px;

}

.info-content

{
	margin-left: 20px;
	display: flex;
	align-items: center;

}

.info

{
	width: 25px;
	height: 25px;
	border: 2px solid #DEEBFF;
	border-radius: 50px;
	color: #0065FC;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 15px;

}

.most-popular

{
	width: 450px;
	height: 600px;
	background-color: #F2F2F2;
	border-radius: 20px;
	margin: 30px;
	display: flow-root;
}

.most-pop-header

{
	margin: 10px;
}

.most-pop-title

{
	font-size: 0.9em;
	margin: 20px;
}

.most-pop-icon

{
	margin-left: 150px;
	margin-top: 45px;
}

.most-pop-content

{
	height: 130px;
	border-radius: 20px;
	border: solid 2px white;
	border-style: groove;
	display: -webkit-inline-box;
	margin-left: 20px;
	margin-top: 20px;
}

.most-pop-img

{
	width: 150px;
	border-radius: 20px 0 0 20px;
	height: 130px;
}

.most-pop-txt

{
	background-color: white;
	border-radius: 0 20px 20px 0;
	padding-left: 15px;
	width: 200px;
}

.most-pop-txt h3
{
	margin-top: 5px;
}

.notation
{
	color: blue;
}

section p

{
	color: rgb(133, 127, 127);

}

.hosting-content

{
	background-color: #F2F2F2;
	margin: 25px;
	width: 850px;
	height: 350px;
	border-radius: 5%;
	display: flex;
}

.hosting-title

{
	margin: 15px;
	width: 300px;


}

.hosting-main

{
	margin: 5px;
	width: 250px;
	height: 80px;
}

.hosting-main img

{
	width: 200px;
	border-radius: 20px;
	margin-left: 25px;
}


.hosting-text

{
	background-color: #F2F2F2;
	color: black;
	width: 200px;
	height: 80px;
	margin-left: 30px;
	border-radius: 0 0 20px 20px;

}

.hosting-text h3 

{
	margin: 10px;
	margin-left: 25px;
	padding: 5px;
}