
header

{
 	display: flex;
	width: 99%;
	margin: auto;
}

.nav-bar

{
	height: 35px;
	display: table;
	margin-top: 30px;
}

#logo
{
 	width: 75px;
}
.link-h
{
 	margin-left: 650px;
	

}
.link-a
{
 	margin-left: 50px;
	
	
}

.link-s
{
 	margin-left: 50px;
	
	
}